<script src="/js/js.cookie.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<% if(title === 'alan statistics') {%>
<script>
    let APN = <%= allPagesNumber %>;
    let FPN = <%= formulaPagesNumber %>;
    let FN = <%= formulasNumber %>;

    $(document).ready(function() {
        let prevAPN = Cookies.get('APN');
        let prevFPN = Cookies.get('FPN');
        let prevFN = Cookies.get('FN');

        prevAPN = prevAPN && parseInt(prevAPN);
        prevFPN = prevFPN && parseInt(prevFPN);
        prevFN = prevFN && parseInt(prevFN);

        if( prevAPN < APN ) {
            $('.APN').text(' (+'+(APN-prevAPN)+')');
        }

        if( prevFPN < FPN ) {
            $('.FPN').text(' (+'+(FPN-prevFPN)+')');
        }

        if( prevFN < FN ) {
            $('.FN').text(' (+'+(FN-prevFN)+')')
        }

        Cookies.set('APN', APN, { expires: Infinity });
        Cookies.set('FPN', FPN, { expires: Infinity });
        Cookies.set('FN', FN, { expires: Infinity });
    });



</script>
<%}%>

<% if(title === 'alan perf statistics') { %>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
<script src="/js/jquery.canvasjs.min.js"></script>
<script>
    function createDataPoints(data, field) {
        let dataPoints = [];

        for(let i = 0 ; i < data.length ; i++) {
            dataPoints[i] = {
                x: new Date(data[i].createdAt),
                y: data[i][field]
            };
        }

        return dataPoints;
    }

    function createGraphOption(dataPoints, title) {
        let yMin = dataPoints[0].y - 100;

        if( title === '읽기 회수' ) {
            for(let i = 0 ; i < dataPoints.length ; i++)
                yMin = yMin > dataPoints[i].y ? dataPoints[i].y : yMin;
        }

        let dataSeries = {type: 'line', dataPoints: dataPoints};

        let options = {
            data: [dataSeries],
            zoomEnabled: true,
            animationEnabled: true,
            title: {
                text: title
            },
            axisY: {
                minimum: yMin
            },

        };

        return options;
    }

    function createGraph(data, field, title) {
        let dataPoints = createDataPoints(data, field);

        return createGraphOption(dataPoints, title);
    }

    function drawGraph(data) {
        let options1 = createGraph(data, 'allPagesNumber', '전체 페이지 개수');
        let options2 = createGraph(data, 'formulaPagesNumber', '수식 페이지 개수');

        let dataPoints = data.map(function(item, idx) {
            return {
                x: new Date(item.createdAt),
                y: item.opcounters.query
            }
        });

        let options3 = createGraphOption(dataPoints, '읽기 회수');

        $('#chartContainer1').CanvasJSChart(options1);
        $('#chartContainer2').CanvasJSChart(options2);
        $('#chartContainer3').CanvasJSChart(options3);
    }

    $(document).ready(function() {
        $.ajax('/api/stat')
            .done(function(data) {
                _.reverse(data);

                drawGraph(data);
            });
    })
</script>
<%}%>
</body>
</html>