<% include header %>
    <div class="container">
        <div class="col-lg-3">
            <h1 class="display-5"> 탐색 페이지 </h1>
            <p> <%= allPagesNumber %> </p>
        </div>

        <div class="col-lg-3">
            <h1 class="display-5"> 수식 페이지 </h1>
            <p> <%= formulaPagesNumber %> </p>
        </div>

        <div class="col-lg-3">
            <h1 class="display-5"> 수식 </h1>
            <p> <%= formulasNumber %> </p>
        </div>
    </div>

<style>
    div, h1, h2, p {
        font-family: 'Nanum Gothic';
    }
</style>
<% include footer %>