<% include header %>
<div class="container">
    <div id="chartContainer1" style="height: 300px; width: 100%;"></div>

    <div id="chartContainer2" style="margin-top: 50px; height: 300px; width: 100%;"></div>

    <div id="chartContainer3" style="margin-top: 50px; height: 300px; width: 100%;"></div>
</div>
<style>
    div, h1, h2, p {
        font-family: 'Nanum Gothic';
    }

    a {
        color: #cccccc;
    }
</style>

<% include footer %>